{%extends "master.html"%}
{%block content%}

<div class="container" style="background-color:#ABD1C9FF;border-radius: 20px;padding-left: 30px;">
    <center><h4 style="color:red">{{msg}}</h4></center>
    <b><h2 style="font-family:Georgia, 'Times New Roman', Times, serif">Place Details</h2></b>
    <form method="post" action="/BookTheTour">
        {%csrf_token%} 
        <table class="table"> 
            <tr><td>Place Id</td><td>{{place.id}}<input type="hidden" name="place_id" value="{{place.id}}"/></td>
                <td rowspan="7"><img src="{{place.imageurl.url}}" class="img-thumbnail" style="height:300px ; width:600px;"/></td></tr> 
            <tr><td>Place Name</td><td>{{place.place_name}}</td></tr>
            <tr><td>Tour Price</td><td>{{place.price_Rs}}</td></tr>
            <tr><td>Place Description</td><td>{{place.description}}</td></tr>
            <tr><td>Category</td><td>{{place.category}}</td></tr>
            <tr><td>Date of Travelling</td><td><input type="date" name="date" id="date" value={{date}}/></td></tr>
            <tr><td>No. of Persons</td><td><select name="persons">     <!-- select persons from the options given-->
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select></td></tr>
            <tr><td><button type="submit" class="btn btn-success">Book The Tour</button></td></tr>
        </table>
    </form>
</div>

{%endblock%}