<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>India Tour</title>
    <!-- link for success bi-check mark -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <style>
        .bi-check   /* for success mark */
        {
            color:green;
            font-size: 200px;
        }
        .simple    /* font for success */
        {
            font-size: 80px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1
        {
            color: rgb(8, 161, 250);
        }
        h2
        {
            font-size: 80px;
        }
    </style>
</head>
<body>
    <center>
    <span class="bi bi-check"></span><br>   <!-- bi-check for success mark -->
    <span class="simple">Booking Successful!</span>
    <br>
    <br>
    <a href="/"><h1>Home</h1></a>
    <br>
    <h2>Thanks for visiting</h2>
    </center>
    
</body>
</html>